.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #F2F2F2;
  display: flex;
  position: relative;
}

.logo {
 width: 154px;
 height: 31px;
 margin-top: 30px;
 margin-left: 64px;
}

.logo__place_header {
  position: absolute;
}

.header__title {
  display: flex;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  max-width: 730px;
  margin-top: 0;
  align-items: center;
  position: relative;
  z-index: 2;
}

.header__subtitle {
  max-width: 388px;
  margin-left: 64px;
  margin-bottom: 30px;
  position: absolute;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  top: 620px;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2F80ED;
}

.header__main-illustration {
  width: 756px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
  z-index: 1;
}

.header__square {
  background: #2F80ED;
  height: 568px;
  width: 568px;
  margin-top: 64px;
  position: absolute;
  right: 0;
  top: 64px;
}

.description {
  margin-top: 100px;
  margin-bottom: 100px;
  max-width: 80%;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2F80ED;
  margin: 0;
}

.two-columns__main-text {
  max-width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 30px 0;
}

p:last-of-type {
  margin: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.digits {
  margin: 100px auto;
}

.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
  margin: 60px auto 0;
  padding: 0;
}

.digits__section-title {
  max-width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  margin: auto auto 20px;
  text-align: center;
}

.digits__section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  max-width: 60%;
  margin: auto;
  text-align: center;
}

.table-cell {
  list-style: none;
  max-width: 250px;
  padding-bottom: 60px;
}

.table-heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  z-index: 4;
}

.table-text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0;
  position: relative;
  z-index: 4;
}

.feynman {
  height: 790px;
  background-color: #F2F2F2;
  position: relative;
}

.feynman__title {
  width: 775px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  margin: 100px auto 70px;
  position: relative;
  z-index: 2;
  top: 100px;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 70px auto 0;
  text-align: center;
  position: relative;
  top: 100px;
  z-index: 3;
}

.feynman__image {
  background-image: url("../images/feynman.png");
  width: 867px;
  height: 637px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2F80ED;
  position: absolute;
  height: 50%;
  right: 0;
  padding-right: 48px;
  text-decoration: none;
}

.kaufman {
background-color: #1F1F1F;
color: #FFF;
overflow: hidden;
max-height: 800px;
position: relative;
padding-bottom: 90px;
}

.kaufman__section_title {
  max-width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  margin: 90px auto 20px;
  text-align: center;
  position: relative;
  z-index: 5;
}

.kaufman__section_subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  max-width: 60%;
  text-align: center;
  margin: 20px auto 0;
  position: relative;
  z-index: 5;
}

.kaufman__triangle {
  position: absolute;
  width: 660px;
  height: 636px;
  top: 0;
  right: -124px;
  z-index: auto;
}

.table-cell__dark-theme {
  width: 200px;
}

.footer {
  background-color: #1F1F1F;
  color: #FFF;
  min-height: 350px;
  padding: 60px 0 40px;
  box-sizing: border-box;
}

.footer__columns {
  display: flex;
  flex-basis: 711px;
  justify-content: space-between;
  margin: auto;
  max-width: 90%;
}

.footer__column_heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 20px;
}

.footer__list {
  list-style-type: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding: 0px;
}

.footer__column_link {
  list-style-type: none;
  text-decoration: none;
  color: #FFF;
}

.footer__social_icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}

.logo__place_footer {
  width: 183px;
  height: 35px;
  padding-bottom: 75px;
  margin: 0 0 0 60px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  padding: 100px 0 0 60px;
  margin: 18px 0;
}

.footer__column__content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.footer__column__content_about {
  padding-right: 150px;
  margin: 0;
}