.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #F2F2F2;
  display: flex;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.logo {
 width: 154px;
 height: 31px;
 margin-top: 30px;
 margin-left: 64px;
 position: absolute;
}

.header__title {
  display: flex;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  width: 730px;
  margin-top: 0;
  align-items: center;
}

.header__subtitle {
  width: 388px;
  margin-left: 64px;
  margin-bottom: 30px;
  position: absolute;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  top: 620px;
}

.header__link {
  text-decoration: none;
  color: #2F80ED;
}

.header__main-illustration {
  width: 756px;
  height: 608px;
  position: absolute;
  left: 600px;
  top: 147px;
}

.header__square {
  background: #2F80ED;
  height: 568px;
  width: 568px;
  margin-top: 64px;
}

.description {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2F80ED;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.p2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.digits {
  margin: 100px auto 100px auto;
}

.table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1100px;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
}

.digits__section-title {
  width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-left: 450px;
  margin-right: 450px;
}

.digits__section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  margin-left: 550px;
  margin-right: 550px;
}

.table-cell {
  list-style: none;
  width: 250px;
}

.table-heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  z-index: 4;
}

.table-text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 20px 0;
  position: relative;
  z-index: 4;
}

.feynman {
  max-height: 790px;
  background-color: #F2F2F2;
  position: relative;
  padding-top: 100px;
}

.feynman__title {
  width: 775px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
  margin: 100px auto 70px auto;
  position: relative;
  z-index: 2;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: relative;
  z-index: 3;
}

.feynman__image {
  background-image: url("../images/feynman.png");
  width: 867px;
  height: 637px;
  position: relative;
  bottom: 380px;
  left: -50px;
  z-index: 1;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2F80ED;
  position: absolute;
  height: 50%;
  right: 0;
  bottom: -70px;
  padding-right: 48px;
  text-decoration: none;
}

.kaufman {
background-color: #1F1F1F;
color: #FFF;
margin-top: 0;
z-index: 0;
margin-bottom: -16px;
padding-bottom: 90px;
}

.kaufman__section-title {
  width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  margin: 0 300px 20px 300px;
  padding-top: 90px;
  text-align: center;
  position: relative;
  z-index: 5;
}

.kaufman__section-subtitle {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  margin-left: 650px;
  margin-right: 650px;
  margin-top: 20px;
}

.kaufman__triangle {
  position: absolute;
  width: 660px;
  height: 636px;
  overflow: hidden;
  top: 3157px;
  right: -150px;
  z-index: auto;
}

.table-cell__dark-theme {
  width: 200px;
}

.footer {
  background-color: #1F1F1F;
  color: #FFF;
  min-height: 350px;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  display: flex;
  flex-basis: 711px;
  justify-content: space-between;
  margin: auto;
  width: 90%;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 20px;
}

.footer__list {
  list-style-type: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding: 0px;
}

.footer__column-link {
  list-style-type: none;
  text-decoration: none;
  color: #FFF;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  padding-right: 10px;
}

.logo__place__footer {
  width: 183px;
  height: 35px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  padding-top: 18px;
  padding-bottom: 18px;
  position: relative;
  top: 270px;
  padding-left: 60px;
}

.footer__column__content-about {
  padding-left: 170px;
}